<div data-ng-controller="documentsController">
    <div class="row">
        <div class="col-lg-12"><input type="text" placeholder="search" ng-model="search"
                                      class="form-control mb15 input-lg"></div>
    </div>
    <div class="row">
        <new-file></new-file>
        <document ng-repeat="documentFile in documents | filter:search"></document>
    </div>
    <button type="button" class="btn btn-round btn-default btn-lg btn-icon mr5" data-ng-click="loadMore()">
        <i class="fa fa-refresh"></i> <span> Load More </span>
    </button>

</div>
