<div data-ng-controller="documentsController">
    <div class="row" >
        <div class="col-sm-2">
            <a ui-sref="app.ui.new">
                <div class="widget bg-white no-padding" style="height: 150px">
                    <div class="h3 mb0 block text-center pb30">
                        <i class="icon-file-add fa-4x"></i>
                    </div>
                    <div class="widget bg-blue mb0 text-center no-radius">
                        <div class="widget-details">
                            <div class="bold text-uppercase h4"> New</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-2" ng-repeat="document in documents">
            <a ui-sref="editogram.editor({id:'{{document.id}}'})" >
                <div class="widget bg-white no-padding">
                    <div class="widget bg-white mb0 text-center no-radius" style="height: 160px">
                        <div class="widget-details">
                            <div class="small">{{document.description}}</div>
                        </div>
                    </div>
                    <div class="widget bg-green mb0 text-center no-radius">
                        <div class="widget-details row">
                            <i class="fa fa-pencil-square-o fa-2x col-md-3"></i><div class="bold text-uppercase col-md-9 mt5">{{document.name}}...</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
